label {
	color: #389F73;
	display: block;
	font-size: 15px;
	font-weight: 600;
}

.main-form {
	background-color: #212121;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 10px;
	column-gap: 20px;
	padding: 90px;
}

body {
	font-family: Arial, sans-serif;
}

.heading {
	text-align: center;
	color: #389F73;
}

input[type="text"] {
	border: 2px solid #707070;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background-color: #505050;
}
input[type="text"]:hover,
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:valid {
	border: 2px solid #389F73;
}
input {
	border: 2px solid #707070;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px;
	color: white;
	background-color: #505050;
}

input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #707070 inset !important;
}
.register{
	background-color: #505050;
	color: white;
	border: 2px solid #707070;
	padding: 10px 50px;
	border-radius: 50px;
	cursor: pointer;
	font-size: 16px;
}
.register:hover{
	background-color: #389F73;
	transition: 1s all;
}
.Register{
	display: flex;
align-items: center;
justify-content: center;
}
.form-detail{
	border: 2px solid #389F73;
	padding: 30px;
}